<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./searchDrop.css" />
  </head>
  <body>
    <div id="menu">
      <ul>
        <li>
          <a href="#">SHOP BY CATEGORY</a>
          <ul>
            <li>
              <a href="#">Gifting</a>
              <ul>
                <li>
                  <a href="#"> </a>
                </li>
                <li>
                  <a href="#"> </a>
                </li>
                <li>
                  <a href="#"> </a>
                </li>
                <li>
                  <a href="#"> </a>
                </li>
                <li>
                  <a href="#"> </a>
                </li>
                <li>
                  <a href="#"> </a>
                </li>
                <li>
                  <a href="#"> </a>
                </li>
                <li>
                  <a href="#"> </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">MY ORDERS</a>
        </li>
        <li>
          <a href="#">GIFTING</a>
        </li>
        <li>
          <a href="#">REWARDS</a>
        </li>
        <li>
          <a href="#">BLOG</a>
        </li>
        <li>
          <a href="#">OFFERS</a>
        </li>
        <li>
          <a href="#">CONNOISSEUR'S SELECTION</a>
        </li>
        <li>
          <a href="#">BOOK STORE VISIT</a>
        </li>
      </ul>
    </div>
    ;
  </body>
</html>
